<h1>Remind me App</h1>
(This app will send SMS to your phone number on a date you choose)
<br>
<br>
<br>
<form action = "/add" method = "post">


 Type Message: <input type = "text" size="60" name = "message">
  <br><br>
 Phone Number: <input type = "text" name = "phone">
  <br><br>
  Pick Date to send:<input type = "date" name = "date">
  <br><br>
  <input type="submit" name="Submit">
<br>

</form>

<br><br>
<a href="/today" > Today's message </a>


