CAR COLLECTION: Add a New Car.
<br><br><br>
<form action="/add" method="post">
  Make: <input type="text" name="make">
  <br> <br>
  Model: <input type="text" name="model">
  <br><br>
  Color: <input type="text" name="color">
  <br><br>
  <input type="submit" name="Submit">
  <br><br>
</form>
<br><br>
<a href="/index"> Home Page </a>